.tab {
  float: right;
  right: 0px;
  margin-right: -26px;
  width: 100%;
  padding-top: 1em;
  text-align: right;
  padding-right: 5%;
  border: 1px solid #00000000;
  transition: 0.06s linear;
  margin-bottom: -1px;
}

.tab.active {
  border: 1px solid var(--gray2);
  border-right: 1px solid var(--light);
  transition: 0.06s linear;
}

.tab:hover:not(.active) {
  cursor: pointer;
  border: 1px solid var(--gray2);
  background: var(--lighter);
  transition: 0.06s linear;
}

.sidebar .sidebar--header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 2em;
  gap: 2ch;
}

.sidebar .sidebar--header a {
  height: min-content;
  white-space: nowrap;
}

.sidebar .sidebar--header h1 {
  margin-bottom: 0;
}

.group-sidebar h3 {
  margin-bottom: 0.5em;
}

@media (max-width: 1000px) {
  .sidebar {
    display: grid;
    position: relative;
  }

  .sidebar h1 {
    grid-column: 1 / -1;
  }

  .tab {
    float: none;
    padding: 15px;
    text-align: left;
    font-size: 0.6em;
  }

  .tab.active {
    border: 1px solid var(--gray2);
  }

  .tab h2 {
    margin-bottom: 0;
  }
}