#similarity-graph--tooltip {
  position: fixed;
  top: 0px;
  left: 0px;

  padding: 16px;

  border-radius: 8px;
  background: var(--body-bg);

  border: 1px solid var(--gray2);
  opacity: 0;

  pointer-events: none;
}

#node {
  fill: var(--light);
  stroke: var(--nav-bg);
  stroke-width: 0.5px;
  stroke-opacity: 1;
}

#link {
  stroke: var(--nav-bg);
  stroke-opacity: 0.25;
}