.letter h3 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  margin-left: 5px;
}

.filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.filter a {
  min-width: 15px;
  margin: 0 5px;
  padding: 5px;
  line-height: 1.5em;
}