.card.header-card {
  padding-top: 0.25em;
}

.headers {
  position: sticky;
  top: 0;
  font-weight: bold;
  font-size: 1.05em;
  background: inherit;
  border-bottom: 1px solid var(--gray2);
  padding-top: 0.75em;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

.grouped-card h3 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.row {
  display: grid;
  grid-gap: 25px;
  grid-template-rows: 1fr;
}

.row-2 {
  grid-template-columns: repeat(2, 1fr);
}

.row-3 {
  grid-template-columns: 1.25fr repeat(2, 1fr);
}

.row-4 {
  grid-template-columns: 1.25fr repeat(3, 1fr);
}

.row-5 {
  grid-template-columns: 1.25fr repeat(4, 1fr);
}

.row-6 {
  grid-template-columns: 1.25fr repeat(5, 1fr);
}

.row-7 {
  grid-template-columns: 1.25fr repeat(6, 1fr);
}

.row-8 {
  grid-template-columns: 1.25fr repeat(7, 1fr);
}

.row-9 {
  grid-template-columns: 1.25fr repeat(8, 1fr);
}

.row-10 {
  grid-template-columns: 1.25fr repeat(9, 1fr);
}

.row-11 {
  grid-template-columns: 1.25fr repeat(10, 1fr);
}

.row-12 {
  grid-template-columns: 1.25fr repeat(11, 1fr);
}

.row-13 {
  grid-template-columns: 1.25fr repeat(12, 1fr);
}

.name {
  word-break: break-all;
  word-break: break-word;
}